<script lang="ts">
export default {
  name: 'Hero',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
};
</script>

<template>
  <section class="hero hero__background">
    <SlpContainer>
      <SlpRow>
        <SlpColumn
          :cols="data.image ? 6 : 12"
          class="slp-flex slp-justify-content-center slp-align-items-center slp-mb-24"
        >
          <div class="hero__body">
            <SlpTypography
              v-if="data.title"
              class="slp-mb-32 hero__header"
              tag="h1"
              variant="heading4"
              >{{ data.title }}
            </SlpTypography>
            <div
              v-else
              class="commit-logo"
              data-aos="fade-up"
              data-aos-duration="800"
            >
              <h1 class="sr-narrate">Commit</h1>
              <img
                src="/nuxt-images/events/commit_logo.svg"
                alt="Commit logo"
                aria-hidden="true"
              />
            </div>
            <div data-aos="fade-up" data-aos-duration="1000">
              <SlpTypography tag="h2" class="slp-mb-32"
                >{{ data.subtitle }}
              </SlpTypography>
              <span
                class="hero__markdown"
                v-html="$md.render(data.text)"
              ></span>
              <SlpButton
                v-if="data.action"
                class="hero__action"
                :href="data.action.url"
                :data-ga-name="data.action.data_ga_name"
                :data-ga-location="data.action.data_ga_location"
              >
                <SlpTypography class="slp-flex" tag="span" variant="body1-bold">
                  {{ data.action.text }}
                </SlpTypography>
              </SlpButton>
            </div>
          </div>
        </SlpColumn>
        <SlpColumn
          :cols="6"
          class="slp-flex slp-justify-content-center slp-align-items-center"
        >
          <img
            v-if="data.image"
            class="hero__image"
            :src="data.image.url"
            :alt="data.image.alt"
          />
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style scoped lang="scss">
.hero {
  min-height: 40rem;
  position: relative;
  margin-bottom: $spacing-16;
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
  padding-top: $spacing-96;

  @media (min-width: $breakpoint-md) {
    margin-bottom: $spacing-32;
    min-height: 55rem;
    height: 55rem;
    align-items: center;
    padding-top: 0;
    margin-top: 0;
  }

  &__background {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/nuxt-images/events/commit_2022_gradient.png');
    background-size: cover;
  }

  &__body {
    @media (min-width: $breakpoint-md) {
      padding-top: $spacing-96;
    }
  }

  h2 {
    margin-top: $spacing-24;
    margin-bottom: $spacing-16;
    font-size: 80px;
    line-height: 90px;
    font-weight: $font-weight-bold;
    color: $color-text-50;

    @media (max-width: $breakpoint-md) {
      font-size: $text-heading-2-mobile;
      line-height: $line-height-heading-2-mobile;
    }
  }

  &__image {
    max-width: 15rem;
  }

  &__markdown {
    display: block;
    font-size: 24px;
    line-height: 32px;
    font-weight: $font-weight-normal;
    margin-bottom: $spacing-24;
    color: $color-text-50;

    &::v-deep p:first-of-type {
      margin-bottom: $spacing-16;
    }

    @media (max-width: $breakpoint-md) {
      font-size: $text-heading-5;
      line-height: $line-height-heading-5;
    }
  }

  &__action {
    background: $color-surface-50;
    color: $color-text-300;
  }

  &__header {
    font-weight: 600;
  }

  .commit-logo {
    position: relative;
    max-width: 700px;

    img {
      z-index: 50;
      width: 100%;
    }
  }
  .sr-narrate {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
</style>
