<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  CTA as CallToAction,
  Benefits,
  FreeTrialCTA,
} from '../../components/common/index';
import { FeaturedPartners } from '~/components/partners/index';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    CallToAction,
    FeaturedPartners,
    Benefits,
    FreeTrialCTA,
  },
  // eslint-disable-next-line
  async asyncData({ $content, params, error }: any) {
    try {
      const partner = await $content(`partners/index`).fetch();
      return { partner };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).partner, this.$route.path);
  },
});
</script>

<template>
  <SlpContainer>
    <component
      :is="component.name"
      v-for="component in partner.components"
      :key="component.name"
      :data="component.data"
    />
    <SlpRow class="slp-mb-64">
      <SlpColumn class="slp-pr-16" :cols="6">
        <div class="partner-card">
          <SlpTypography class="slp-mb-16" variant="heading3" tag="h3"
            >{{ partner.alliance.title }}
          </SlpTypography>
          <SlpTypography variant="body" tag="p"
            >{{ partner.alliance.description }}
          </SlpTypography>
          <ul class="slp-ml-32 slp-mt-16">
            <li v-for="item in partner.alliance.list" :key="item.name">
              {{ item.name }}
            </li>
          </ul>
        </div>
      </SlpColumn>
      <SlpColumn class="slp-pl-16" :cols="6">
        <div class="partner-card">
          <SlpTypography class="slp-mb-16" variant="heading3" tag="h3"
            >{{ partner.channel.title }}
          </SlpTypography>
          <SlpTypography variant="body" tag="p"
            >{{ partner.channel.description }}
          </SlpTypography>
          <ul class="slp-ml-32 slp-mt-16">
            <li v-for="item in partner.channel.list" :key="item.name">
              {{ item.name }}
            </li>
          </ul>
        </div>
      </SlpColumn>
    </SlpRow>
    <FreeTrialCTA
      variant="image"
      primary-button-type="partners"
      secondary-button-type="partners_learn_more"
      title="Become a GitLab channel or alliance partner"
    />
  </SlpContainer>
</template>

<style lang="scss" scoped>
.partner-card {
  height: 100%;
  padding: $spacing-32;
  border: 1px solid $color-surface-200;
  border-radius: $border-radius-4;
  box-shadow: $shadow-surface-primary-3;

  ul {
    list-style: unset;
  }
}
</style>
