<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'SlpNavigationDesktop',
});
</script>

<template>
  <div class="slp-py-8">
    <div class="navigation-bottom centered">
      <div class="navigation-bottom-left">
        <SlpButton variant="icon" href="/">
          <SlpIcon
            name="gitlab"
            variant="marketing"
            alt="GitLab icon"
            size="md"
          />
        </SlpButton>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
// Override default link styling in nav
a {
  color: $color-text-300;
}

.navigation-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.centered {
    justify-content: center;
  }

  .navigation-bottom-left {
    display: flex;
    align-items: center;

    .navigation-item {
      position: relative;

      &:hover {
        font-weight: $font-weight-bold;
        svg {
          display: block;
        }
      }

      &.active {
        svg {
          display: block;
        }
      }

      svg {
        display: none;
        position: absolute;
        bottom: -6px;
        left: calc(50% - 8px);
      }

      &:not(:last-child) {
        margin-right: $spacing-16;
      }
    }
  }

  .navigation-bottom-right {
    display: flex;
    align-items: center;
  }
}

.horizontal-line {
  border-top: 1px solid $color-surface-400;
  margin-bottom: $spacing-48;
  margin-top: $spacing-8;
}
</style>
