<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { CTA as CallToAction, Copy } from '../../components/common/index.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    Copy,
    // eslint-disable-next-line vue/no-unused-components
    CallToAction,
  },
  async asyncData({ $content, error }) {
    try {
      const support = await $content('support/index').fetch();
      return { support };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  data() {
    return {
      data: {
        anchors: {
          text: 'ON THIS PAGE',
          data: [
            {
              text: 'Contact Support',
              href: '#contact-support',
              nodes: [
                {
                  text: 'Issues with billing, purchasing, subscriptions or licenses',
                  href: '#issues-with-billing-purchasing-subscription-or-licenses',
                },
                {
                  text: 'Self-managed (hosted on your own site/server)',
                  href: '#self-managed-hosted-on-your-own-siteserver',
                },
                {
                  text: 'GitLab SaaS (GitLab.com)',
                  href: '#gitlab-saas-gitlabcom',
                },
                {
                  text: 'Legacy Plans',
                  href: '#legacy-plans',
                },
                {
                  text: 'Partnership Support',
                  href: '#partnership-support',
                },
                {
                  text: 'Proving your Support Entitlement',
                  href: '#proving-your-support-entitlement',
                },
              ],
            },
            {
              text: 'GitLab Support Service Levels',
              href: '#gitlab-support-service-levels',
              nodes: [
                {
                  text: 'Trials Support',
                  href: '#trials-support',
                },
                {
                  text: 'Standard Support (Legacy)',
                  href: '#standard-support-legacy',
                },
                {
                  text: 'Priority Support',
                  href: '#priority-support',
                },
                {
                  text: 'Service Level Agreement (SLA) details',
                  href: '#service-level-agreement-sla-details',
                },
                {
                  text: 'Definition of GitLab Global Support Hours',
                  href: '#definitions-of-gitlab-global-support-hours',
                },
                {
                  text: 'Effect on Support Hours if a preferred region for support is chosen',
                  href: '#effect-on-support-hours-if-a-preferred-region-for-support-is-chosen',
                },
                {
                  text: 'Phone and video call support',
                  href: '#phone-and-video-call-support',
                },
              ],
            },
            {
              text: 'Further Resources',
              href: '#further-resources',
            },
          ],
        },
        hyperlinks: {
          text: '',
          data: [],
        },
      },
    };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).support, this.$route.path);
  },
});
</script>

<template>
  <SlpContainer>
    <SlpSideNavigation :data="data">
      <SlpColumn size="xl" class="slp-card slp-mt-32">
        <component
          :is="component.name"
          v-for="component in support.components"
          :key="component.name"
          :data="component.data"
        />
      </SlpColumn>
    </SlpSideNavigation>
  </SlpContainer>
</template>

<style lang="scss">
td {
  font-size: $text-body-2 !important;
  p {
    font-size: $text-body-2 !important;
  }
}
</style>
