<script lang="ts">
import Vue from 'vue';
import { init } from 'aos';
import SvgLoop from './svg-loop.vue';

export default Vue.extend({
  name: 'WhyLoop',
  components: {
    SvgLoop,
  },
  props: {
    data: {
      required: true,
      type: Object,
    },
  },
  data() {
    return {
      stagesObserver: null,
      lastStageObserver: null,
      activeStage: null,
      stages: {},
      resetStages: {},
    };
  },
  computed: {
    lastStageIndex() {
      return this.data.blocks.length + 1;
    },
    fixedClass() {
      return this.activeStage &&
        this.activeStage !== `stage-${this.lastStageIndex}`
        ? 'fixed'
        : '';
    },
  },
  beforeMount() {
    init({
      once: true,
    });
  },
  mounted() {
    this.stagesObserver = new IntersectionObserver(this.observerTriggered, {
      threshold: 0.6,
    });

    const stages = {};
    for (let i = 0; i < this.lastStageIndex; i++) {
      let target = this.$refs[`stage-${i}`];
      if (target) {
        if (target[0]) {
          [target] = this.$refs[`stage-${i}`];
        }
        stages[`stage-${i}`] = 'hidden';
        this.stagesObserver.observe(target.$el);
      }
    }

    // last stage observer to prevent the "jump" when position fixed is removed
    this.lastStageObserver = new IntersectionObserver(
      this.lastObserverTriggered,
      {
        threshold: [0.2, 1],
      },
    );
    this.lastStageObserver.observe(
      this.$refs[`stage-${this.lastStageIndex}`].$el,
    );
    stages[`stage-${this.lastStageIndex}`] = 'hidden';

    // Is passed to the svg to keep track of which stages should be hidden or visible
    this.stages = stages;
    this.resetStages = { ...stages };
  },
  beforeDestroy() {
    this.stagesObserver.disconnect();
    this.lastStageObserver.disconnect();
  },
  methods: {
    observerTriggered(entries) {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          // stage entered the view and should be visible
          this.activeStage = entry.target.id;
          this.stages[entry.target.id] = '';
        } else if (
          entry.intersectionRect.top > 0 &&
          this.activeStage === 'stage-0' &&
          entry.target.id === 'stage-0'
        ) {
          // reset the currentStage when scrolling up and the first section is no longer in view
          this.activeStage = null;
          this.stages = { ...this.resetStages };
        }
      });
    },
    lastObserverTriggered(entries) {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          if (entry.intersectionRatio === 1) {
            // stage entered the view and should be visible
            this.activeStage = entry.target.id;
            this.stages[entry.target.id] = '';
          } else if (entry.intersectionRect.top > 0) {
            this.stages[entry.target.id] = 'hidden';
            // transition to previous stage
            this.activeStage = `stage-${this.lastStageIndex - 1}`;
            this.stages[`stage-${this.lastStageIndex - 1}`] = '';
          }
        }
      });
    },
  },
});
</script>

<template>
  <section class="why-loop">
    <SlpContainer>
      <SlpRow
        class="header stage"
        :data-aos="data.aos_animation"
        :data-aos-duration="data.aos_duration"
        :data-aos-delay="data.aos_delay"
      >
        <SlpColumn :cols="6">
          <SlpTypography tag="h2" variant="heading2-bold">
            {{ data.title }}
          </SlpTypography>
        </SlpColumn>
        <SlpColumn class="image-container" :cols="6">
          <img src="/nuxt-images/why/aqua-piece.svg" aria-hidden="true" />
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
    <SlpContainer class="stages">
      <SlpRow
        v-for="(block, index) in data.blocks"
        :id="`stage-${index}`"
        :key="index"
        :ref="`stage-${index}`"
        :class="`stage stage-${index}`"
      >
        <SlpTypography
          tag="h3"
          variant="heading3-bold"
          :data-aos="data.aos_animation"
          :data-aos-duration="data.aos_duration"
        >
          {{ block.title }}
        </SlpTypography>
      </SlpRow>
      <SlpRow
        :id="`stage-${data.blocks.length}`"
        :ref="`stage-${data.blocks.length}`"
        :class="`stage penultimate-stage stage-${data.blocks.length}`"
      >
      </SlpRow>
      <SlpRow
        :id="`stage-${lastStageIndex}`"
        :ref="`stage-${lastStageIndex}`"
        :class="`stage final-stage stage-${lastStageIndex}`"
      >
        <SlpRow :class="`complete-svg ${fixedClass}`">
          <SvgLoop :stages="stages" />
        </SlpRow>
        <SlpRow
          class="final-stage__content"
          :data-aos="data.aos_animation"
          :data-aos-duration="data.aos_duration"
        >
          <SlpTypography tag="h3" variant="heading3-bold">
            The One DevOps Platform
          </SlpTypography>
          <SlpButton
            class="slp-mt-24"
            variant="secondary"
            :href="data.cta_button.url"
            :data-ga-name="data.cta_button.data_ga_name"
            :data-ga-location="data.cta_button.data_ga_location"
            >{{ data.cta_button.text }}
          </SlpButton>
        </SlpRow>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.why-loop {
  background: $color-primary-200;
  color: $color-surface-50;
  padding-top: $spacing-160;
  padding-bottom: 230px;

  h2 {
    max-width: 600px;
    display: block;
    margin-bottom: $spacing-16;
  }

  h3 {
    max-width: 550px;
    display: block;
    z-index: 1;
  }

  .stage {
    height: 80vh;
    padding: $spacing-64 0;
    align-items: center;
    justify-content: flex-end;

    &.penultimate-stage {
      height: 60vh;
    }
  }

  .final-stage {
    align-items: flex-end;
    justify-content: center;

    &__content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  .header {
    align-items: center;
    .image-container {
      text-align: right;
      img {
        width: 100%;
        max-width: 100px;
      }
    }
  }
}

.complete-svg {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: flex-end;

  svg {
    max-height: 600px;
    height: 100%;
    width: auto;
  }

  &.fixed {
    position: fixed;
    height: 80vh;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .complete-svg svg {
    max-height: 400px;
  }
}
</style>
